/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  GROUPING  ============================================================================= */

.row {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}


/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}

.span-1-of-2 {
    text-align: right;
    width: 55.2%;
    margin-left: -15%;
}


/*  GRID OF THREE   ============================================================================= */

.span-3-of-3 {
    width: 100%;
}

.span-2-of-3 {
    width: 66.13%;
}

.span-1-of-3 {
    text-align: right;
    width: 32.26%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
    font-weight: 300;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./handshake-512.png');
    border: 1px solid #888;
    width: 650px;
    color: #fff;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    overflow-y: auto;
    height: 80vh;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 10px;
}

.form-box {
    display: block;
}

.close {
    margin-top: -7px;
    color: #fff;
    float: right;
    font-size: 35px;
    font-weight: 700;
    margin-right: 2px;
}

.close:hover,
.close:focus {
    color: #fff;
    transform: scale(1.02);
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header {
    display: block;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #00cadd;
}

.heading {
    color: #fff;
    font-weight: 500;
    padding: 8px;
    display: block;
    float: left
}

.cross {
    margin: 0;
    padding: 5px;
    display: block;
    float: right
}

.inner-mask,
.inner-sanitizer,
.inner-display {
    display: none;
}

input[type=text] {
    width: 80%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input[type=number] {
    width: 60%;
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: -3px;
}

input[type=checkbox] {
    margin: 5px 5px 10px 0px;
}

*:focus {
    outline: none;
}

button {
    width: 40%;
    display: block;
    margin: 20px auto;
    background-color: #00cadd;
    border: none;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
}

button:hover {
    color: #fff;
    cursor: pointer;
}

.left {
    margin-left: -100px;
}

span {
    margin-right: -20px;
    margin-left: 10px;
}

.full input[type=number] {
    width: 83%;
}

.own,
.notown {
    width: fit-content;
    font-size: 16px;
    padding: 20px;
    margin: 40px auto;
    margin-bottom: 20px;
}

.form-box {
    width: 80%;
    margin: 20px auto;
}