{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ByeCovid</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/logo1.svg" %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/form/style.css" %}">
    <link rel="stylesheet" href="{% static "css/listing/listing.css" %}">
</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="/" class="text-white h2 mb-0">Browse</a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="/"><span>Home</span></a></li>
                                <li><a href="#" onclick="modalDisplay()"><span>Register</span></a></li>

                                <li class="active"><a href="listings/"><span>Listings</span></a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                </div>

            </div>
    </div>

    </header>



    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static "images/hero_1.jpg" %}');" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <h1>Listings</h1>
                            <p data-aos="fade-up" data-aos-delay="100">Medical Stores and Hospitals</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">


                    <div class="cardbox">
                        <div class="shop-details">
                            <div class="shop-name">Sample Stores</div>
                            <div class="address">243,M G road</div>
                            <div class="city">Noida,Delhi</div>
                            <div class="owner-name">John Michael</div>
                        </div>
                        <div class="owner-box">
                            <div class="contact"><img src="https://img.icons8.com/ios-filled/50/00918e/phone-contact.png" />+919874561230</div>
                            <div class="sells-mask"><img src="https://img.icons8.com/ios/50/00918e/checked-2.png" />Sells masks</div>
                            <div class="sells-sanitizer"><img src="https://img.icons8.com/ios-glyphs/40/00918e/delete-sign.png" />Sells Sanitizer</div>
                        </div>
                        <div class="products-box">
                            <div class="shop-open"><img src="https://img.icons8.com/ios/50/00918e/checked-2.png" />Shop open</div>
                            <div class="masks-available"><img src="https://img.icons8.com/ios/50/00918e/checked-2.png" />Masks Available</div>
                            <div class="sanitizer-available"><img src="https://img.icons8.com/ios-glyphs/40/00918e/delete-sign.png" />Sanitizer Available </div>
                        </div>
                        <div class="updated-on">As updated on 20/04/2020</div>
                    </div>

                    <div class="col-12 mt-5 text-center">
                        <div class="custom-pagination">
                            <span>1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span class="more-page">...</span>
                            <a href="#">10</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 ml-auto">

                    <div class="mb-5">
                        <h3 class="h5 text-black mb-3">Filters</h3>
                        <form method="post">
                            <div class="form-group">
                                <div class="select-wrap">
                                    <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                    <select class="form-control" name="" id="">
                        <option value="">All Categories</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Hospital">Hospital</option>

                      </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- select-wrap, .wrap-icon -->
                                <div class="wrap-icon">
                                    <span class="icon icon-room"></span>
                                    <input type="text" placeholder="Location" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">


        </div>
    </footer>
    </div>
    <section>
        <div id="myModal" class="modal fadeIn">
            <div class="modal-content">
                <div class="header">
                    <div class="heading">
                        Please Fill This Form
                    </div>
                    <div class="cross">
                        <span class="close">&times;</span>
                    </div>
                </div>
                <div class="form-box">
                    <form action="" id="myForm">
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="fname">First Name:</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="text" name="fname" id="fname" placeholder="First Name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="lname">Last Name:</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="text" name="lname" placeholder="Last Name" id="lname">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="contact">Contact No:</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="text" name="contact" placeholder="Contact No" id="contact">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="owner">Do you own a pharmacy?</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="checkbox" name="owner" id="yes" onclick="displayMore()">Yes
                                <input type="checkbox" name="owner" onclick="displayError()" id="no">No
                            </div>
                        </div>
                        <div class="inner-display">
                            <div class="row">
                                <div class="col span-1-of-3">
                                    <label for="mask">Do you sell Masks?</label>
                                </div>
                                <div class="col span-2-of-3">
                                    <input type="checkbox" name="mask" id="mask-yes" onclick="displayMask()">Yes
                                    <input type="checkbox" name="mask" id="mask-no" onclick="displayMaskNo()">No
                                </div>
                            </div>
                            <div class="inner-mask">
                                <div class="row">
                                    <div class="col span-1-of-3">
                                        <label for="mask-range">Price Range:</label>
                                    </div>
                                    <div class="col span-2-of-3">
                                        <div class="row left">
                                            <div class="span-1-of-2 col">
                                                <input type="number" name="mask-from" id="mask-range" placeholder="From"><span>To</span>
                                            </div>
                                            <div class="span-1-of-2 col">
                                                <input type="number" name="mask-to" id="mask-range" placeholder="To">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col span-1-of-3">
                                    <label for="sanitizer">Do you sell Sanitizers?</label>
                                </div>
                                <div class="col span-2-of-3">
                                    <input type="checkbox" name="sanitizer" id="sanitizer-yes" onclick="displaySanitizer()">Yes
                                    <input type="checkbox" name="sanitizer" id="sanitizer-no" onclick="displaySanitizerNo()">No
                                </div>
                            </div>
                            <div class="inner-sanitizer">
                                <div class="row">
                                    <div class="col span-1-of-3">
                                        <label for="sanitizer-range">Price Range:</label>
                                    </div>
                                    <div class="col span-2-of-3">
                                        <div class="row left">
                                            <div class="span-1-of-2 col">
                                                <input type="number" name="sanitizer-from" id="sanitizer-range" placeholder="From"> <span> To </span>
                                            </div>
                                            <div class="span-1-of-2 col">
                                                <input type="number" name="sanitizer-to" id="sanitizer-range" placeholder="To">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col span-1-of-3">
                                    <label for="shop-name">Shop Name:</label>
                                </div>
                                <div class="col span-2-of-3">
                                    <input type="text" name="shop-name" placeholder="Shop Name" id="shop-name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col span-1-of-3">
                                    <label for="address">Address:</label>
                                </div>
                                <div class="col span-2-of-3">
                                    <input type="text" name="address" placeholder="Address" id="address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col span-1-of-3">
                                    <label for="pincode">Pincode:</label>
                                </div>
                                <div class="col span-2-of-3 full">
                                    <input type="number" name="pincode" placeholder="Pincode" id="pincode">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="form-button" onclick="filled()">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="own" style="display: none;">
                    Thank you for filling out the form! &#128522;
                </div>
                <div class="notown" style="display: none;">
                    Thank you for filling out the form! &#128522; some more text
                </div>
            </div>
        </div>

    </section>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.stellar.min.js" %}"></script>
    <script src="{% static "js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/rangeslider.min.js" %}"></script>

    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/form/form.js" %}"></script>
</body>

</html>