{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ByeCovid</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/logo1.svg" %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ByeCovid</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/logo1.svg" %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/form/style.css" %}">





</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="/" class="text-white h2 mb-0">ByeCovid.in</a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="/"><span>Home</span></a></li>
                                <li class="active"><a href="/register"><span>Register</span></a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3" style="margin-right: 6px;"></span></a></div>

                </div>

            </div>


    </header>



    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static "images/hero_1.jpg" %}');" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <h1>Register</h1>
                            <p data-aos="fade-up" data-aos-delay="100">Register your medical stores here.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">


                    <div class="form-box">
                        <form method="post" id="myForm">
                            <div class="roww">
                                <div class="col span-3-of-3">
                                    <label for="fname">First Name:</label>
                                </div>
                                <div class="col span-3-of-3">
                                    <input type="text" name="fname" id="fname">
                                </div>
                            </div>

                            <div class="roww">
                                <div class="col span-3-of-3">
                                    <label for="lname">Last Name:</label>
                                </div>
                                <div class="col span-3-of-3">
                                    <input type="text" name="lname"  id="lname">
                                </div>
                            </div>
                            <div class="roww">
                                <div class="col span-3-of-3">
                                    <label for="contact">Contact Number:</label>
                                </div>
                                <div class="col span-3-of-3">
                                    <input type="number" name="contact"  id="contact">
                                </div>
                            </div>

                            <div class="roww">
                                <div class="col span-3-of-3">
                                    <label for="owner">Do you own a pharmacy?</label>
                                </div>
                                <div class="col span-3-of-3">
                                    <input type="checkbox" name="owner" id="yes" onclick="displayMore()">Yes
                                    <input type="checkbox" name="owner" onclick="displayError()" id="no">No
                                </div>
                            </div>
                            <div class="inner-display ">
                                <div class="roww">
                                    <div class="col span-3-of-3">
                                        <label for="mask">Do you sell Masks?</label>
                                    </div>
                                    <div class="col span-3-of-3">
                                        <input type="checkbox" name="mask" id="mask-yes" onclick="displayMask()">Yes
                                        <input type="checkbox" name="mask" id="mask-no" onclick="displayMaskNo()">No
                                    </div>
                                </div>
                                <div class="inner-mask roww">
                                    <div class="roww">
                                        <div class="col span-3-of-3">
                                            <label for="mask-range">Price Range:</label>
                                        </div>
                                        <div class="col span-3-of-3">
                                            <div class="roww ">
                                                <div class="row ">
                                                    <input type="number" name="mask-range" id="mask-from" placeholder="From">

                                                    <input type="number" name="mask-range" id="mask-to" placeholder="To">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="roww">
                                    <div class="col span-3-of-3">
                                        <label for="sanitizer">Do you sell Sanitizers?</label>
                                    </div>
                                    <div class="col span-3-of-3">
                                        <input type="checkbox" name="sanitizer" id="sanitizer-yes" onclick="displaySanitizer()">Yes
                                        <input type="checkbox" name="sanitizer" id="sanitizer-no" onclick="displaySanitizerNo()">No
                                    </div>
                                </div>
                                <div class="inner-sanitizer">
                                    <div class="roww">
                                        <div class="col span-3-of-3">
                                            <label for="sanitizer-range">Price Range:</label>
                                        </div>
                                        <div class="col span-3-of-3">
                                            <div class="roww">
                                                <div class="row">
                                                    <input type="number" name="sanitizer-range" id="sanitizer-from" placeholder="From">
                                                    <input type="number" name="sanitizer-range" id="sanitizer-to" placeholder="To">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="roww">
                                    <div class="col span-3-of-3">
                                        <label for="shop-name">Shop Name:</label>
                                    </div>
                                    <div class="col span-3-of-3">
                                        <input type="text" name="shop-name"  id="shop-name">
                                    </div>
                                </div>
                                <div class="roww">
                                    <div class="col span-3-of-3">
                                        <label for="address">Address:</label>
                                    </div>
                                    <div class="col span-3-of-3">
                                        <input type="text" name="address" id="address">
                                    </div>
                                </div>
                                <div class="roww">
                                    <div class="col span-3-of-3">
                                        <label for="pincode">Pincode:</label>
                                    </div>
                                    <div class="col span-2-of-3 full">
                                        <input type="number" name="pincode" style="width: 100%;" id="pincode">
                                    </div>
                                </div>
                            </div>
                            <div class="roww">
                              <input type="submit" class="btn text-white btn-primary" style="width: 100%;margin-top: 30px;" value="Submit">
                            </div>
                        </form>
                    </div>
                    <div class="own" style="display: none;">
                        Thank you for filling out the form! &#128522;
                    </div>
                    <div class="notown" style="display: none;">
                        Thank you for filling out the form! &#128522; some more text
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>


    </div>

    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.stellar.min.js" %}"></script>
    <script src="{% static "js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/rangeslider.min.js" %}"></script>

    <script src="{% static "js/main.js" %}"></script>
<script>
     function displayMore() {
    var checkBox = document.getElementById("yes");
    if (checkBox.checked == true) {
        document.getElementById("no").checked = false;
        document.querySelector('.inner-display').style.display = "block";
    } else {
        document.querySelector('.inner-display').style.display = "none";
    }
}

function displayError() {
    var checkBox = document.getElementById("no");
    if (checkBox.checked == true) {
        document.getElementById("yes").checked = false;
        document.querySelector('.inner-display').style.display = "none";
    }
}

function displayMask() {
    var checkBox = document.getElementById("mask-yes");
    if (checkBox.checked == true) {
        document.querySelector('.inner-mask').style.display = "block";
    } else {
        document.querySelector('.inner-mask').style.display = "none";
    }
}

function displayMaskNo() {
    var checkBox = document.getElementById("mask-no");
    if (checkBox.checked == true) {
        document.getElementById("mask-yes").checked = false;
        document.querySelector('.inner-mask').style.display = "none";
    }
}

function displaySanitizer() {
    var checkBox = document.getElementById("sanitizer-yes");
    if (checkBox.checked == true) {
        document.querySelector('.inner-sanitizer').style.display = "block";
    } else {
        document.querySelector('.inner-sanitizer').style.display = "none";
    }
}


function displaySanitizerNo() {
    var checkBox = document.getElementById("sanitizer-no");
    if (checkBox.checked == true) {
        document.getElementById("sanitizer-yes").checked = false;
        document.querySelector('.inner-sanitizer').style.display = "none";
    }
}

 var URL = window.location.href;
$("#myForm").submit(function(event){
            event.preventDefault();

            var fname=document.getElementById("fname").value;
            var lname=document.getElementById("lname").value;
            var contact=document.getElementById("contact").value;

            if(document.getElementById("yes").checked == true){
                var shop_own = "yes";
                console.log(shop_own);

                if(document.getElementById("mask-yes").checked == true){
                var mask_avail = "yes"
                var mask_price = document.getElementById("mask-from").value.toString()+"-"+document.getElementById("mask-to").value.toString();
            }else{
                var mask_avail = "no";
                var mask_price="not applicable";
            }
                console.log(mask_price);
            if(document.getElementById("sanitizer-yes").checked == true){
                var sanitizer_avail = "yes"
                var sanitizer_price = document.getElementById("sanitizer-from").value.toString()+"-"+document.getElementById("sanitizer-to").value.toString();
            }else{
                var sanitizer_avail = "no";
                var sanitizer_price="not applicable";
            }
                console.log(sanitizer_avail);
            var shop_name = document.getElementById("shop-name").value;
            var address = document.getElementById("address").value;
            var pincode = document.getElementById("pincode").value;

            }else{
                var shop_own="no";
                var mask_avail="not applicable"
                 var mask_price="not applicable";
                 var sanitizer_avail="not applicable";
                  var sanitizer_price="not applicable";
                   var shop_name="not applicable";
                    var address="not applicable";
                     var pincode="not applicable";
            }



            var data={"first_name":fname,"last_name":lname,"contact_name":contact.toString(),"shop_owner":shop_own,"mask_avail":mask_avail,"mask_price":mask_price,"sanitizer_avail":sanitizer_avail,"sanitizer_price":sanitizer_price,"shop_name":shop_name,"address":address,"pincode":pincode.toString()}
            $.post(URL,data,function(response){

                alert("Your response has been included. Thank You")
                window.location.replace(location.protocol+"//"+location.host +"/");



        });


        });

</script>

</body>

</html>